TODO.txt
#settings
settings/dev.py

# Sphinx documentation
docs/_build/



# GIT
.editorconfig
.gitattributes

# Vim

*~
*.swp
*.swo


#heroku
heroku.log

#secret settings
.env

staticfiles

*.pyc


#env_dir
envdir/