{% extends 'layout.html' %}

{% block page_title %} {{year}} ABFA Sectors - {% endblock %}

{% block body %}
  <section id="data">
    <div class="container">
    <div class="row"></div>
      <div class="row breadcrumbs"><div class="chip"><a href="{% url 'frontend:home' %}">Home</a></div> > <div class="chip"><a href="{% url 'frontend:data' %}">Data</a></div> > <div class="chip">ABFA Sectors</div></div>

      <div class="row center-align">
        <h5>ABFA Sectors</h5>
        <div class="divider"></div>
      </div>

      <div class="row">
        <ul class="collection">
          {% for abfa in abfas %}
            <li class="collection-item"><a href="{% url 'frontend:projects' %}?sector={{abfa.title}}">{{abfa.title}}</a></li>
          {% endfor %}
        </ul>
        {% if not abfas %}
        <p class="center-align">No ABFA sectors available.</p>
        {% endif %}
      </div>

      <div class="row">
        <div id="disqus_thread"></div>
        <script>
            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
             */

            var disqus_config = function () {
                this.page.url = "http://www.ouroilmoney.org{% url 'frontend:abfa_sectors' %}";  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = 'frontend_abfa_sectors'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };

            (function() {  // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');

                s.src = '//ouroilmoney.disqus.com/embed.js';

                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>
          Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
        </noscript>
      </div>
    </div>
  </section>
{% endblock %}
